:root {

    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: inherit;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 95vh;
    
    font-family: 'Outfit', sans-serif;
    background-color: var(--light-gray);
}


.container{
    width: 15%;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: var(--white);
}

.container__qr {
    border-radius: 1rem;
    width: 100%;
}

.container__info {
    margin-top: 2rem;
    text-align: center;
}

.container__tittle {
    font-size: 2rem;
}

.container__description {
    font-size: 1.5rem;
    color: var(--light-gray);
}

@media (max-width: 1440px) {
    .container{
        width: 20%;
    }
}

@media (max-width: 768px) {
    .container{
        width: 40%;
    }
}

@media (max-width: 480px) {
    .container{
        width: 80%;
        padding-bottom: 3rem;
    }
}