:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

html {
    width: 100%;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-section {

    width: 25%;
    margin: auto;
    padding-bottom: 25px;
    border-radius: 20px;
    background-color: var(--white);
    box-shadow: 15px 11px 136px -46px rgba(0,0,0,0.65);
}

@media (max-width: 768px) {
    .main-section {
        width: 80%;
    } 
}

.main-section .qr{
  margin: 15px;
}
.main-section .qr img{
    width: 100%;
    border-radius: 20px;

}

.main-section .tittle {
    text-align: center;
    font-weight: bold;
    margin: 10px 50px;
    font-size: 20px;
}

.main-section .description {
    text-align: center;
    font-size: 15px;
    color: var(--grayish-blue);
    margin: auto 50px;
}